/* /DonutWithArcLabels.razor.rz.scp.css */
.donut-root[b-ygoalvtn3e] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #0d1117;
}

svg[b-ygoalvtn3e] {
    max-width: 90vmin;
    max-height: 90vmin;
}

.arc-label[b-ygoalvtn3e] {
    fill: #fff;
    font-size: 14px;
    pointer-events: none
}

path[b-ygoalvtn3e] {
    transition: transform .25s ease, filter .25s ease;
    transform-origin: 50% 50%;
}

path:hover[b-ygoalvtn3e] {
    transform: scale(1.05);
    filter: brightness(1.3);
    cursor: pointer;
}
